[Unit]
Description=Updates jeffcupdb database
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/opt/jeffcupdb
ExecStart=/usr/bin/python3 -m jeffcupdb.db.update -e prod

[Install]
WantedBy=default.target
